html {
  font-size: 15px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  color: #000;
  background-color: rgb(227, 227, 227);

  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
}

a {
  color: #3686c7;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  margin: 0 auto;

  font-family: 'Diplomata', sans-serif;
  color: transparent;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;

  background: linear-gradient(to right, rgb(255, 118, 6), 30%, #3686c7 30%);
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(2px 2px 2px #000);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  display: block;
  height: 0;
  border-radius: 0;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}
